/* #Fonts
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
@font-face {
  font-family: 'ClearSans Bold';
  src: url("../webfonts/ClearSans-Bold.eot");
  src: url("../webfonts/ClearSans-Bold?#iefix") format("embedded-opentype"), url("../webfonts/ClearSans-Bold.woff") format("woff"), url("../webfonts/ClearSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'ClearSans Light';
  src: url("../webfonts/ClearSans-Light.eot");
  src: url("../webfonts/ClearSans-Light?#iefix") format("embedded-opentype"), url("../webfonts/ClearSans-Light.woff") format("woff"), url("../webfonts/ClearSans-Light.ttf") format("truetype"); }

.bold {
  font-family: "ClearSans Bold", Helvetica, Arial;
  margin-top: 1rem;
}

.light {
  font-family: "ClearSans light", Helvetica, Arial;
  margin-top: 1rem;
}
.text-center {
  text-align: center !important; }

.no-wrap {
  white-space: nowrap; }

a:link {
  color: #4d4d4d;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  -moz-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out; }

a:hover {
  color: #216d7d;
  text-shadow: 2px 2px 0px rgba(75, 75, 75, 0.35); }

html{
  background-color: #f7f5f2;
}

body {
border-top: 5px solid #3be0cf; }

section.hello {
  background-color: #f7f5f2;
  padding: 2rem 5rem; }
  /* line 136, ../scss/layout.scss */

section h1 {
  color: #4d4d4d;
  font-size: 6rem;
  font-weight: bold;
  padding-top: 0.75rem;
  padding-bottom: .25rem; 
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.45);
}
  /* line 141, ../scss/layout.scss */
div.bio p {
  color: #4d4d4d;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4; }
  /* line 147, ../scss/layout.scss */
div.bio p span.highlight {
  font-weight: bold;
  color: #216d7d; }

