body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
#movie-list {
    list-style-type: none;
    padding: 0;
}
.movie {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.movie img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 4px;
}
.movie h2 {
    margin: 0 0 10px 0;
}

.hide {
    display:none;
}